{% macro flashjs() %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<script type="text/javascript">
				window.flashed_msgs = {{ messages|tojson }};
			</script>
		{% else %}
			<script type="text/javascript">
				window.flashed_msgs = [];
			</script>
		{% endif %}
	{% endwith %}
{% endmacro %}

{% macro userinfo(current_user) %}
	<script type="text/javascript">
		window.userinfo = {
			name: "{{ current_user.user.username }}",
			admin: {{ current_user.user.admin | tojson }}
		};
	</script>
{% endmacro %}
