// Add overrides to bootstrap themes:

@import "~bootswatch/dist/solar/variables";
$font-family-sans-serif:      "IBM Plex Sans Condensed", "Roboto", "Liberation Sans", "Arial", sans-serif !important;
$font-family-monospace:       "IBM Plex Mono", "Roboto Mono", Consolas, "Liberation Mono", monospace !important;
$web-font-path: 			  "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap";

$primary: lighten($orange, 2);
$enable-gradients: false;
$enable-shadows: true;
$danger: #ee3545;

@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/solar/bootswatch";

hr {
	border-color: #999;
}
